# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
flask
flask-sqlalchemy
jinja2
matplotlib
nltk
numpy
pypdf2
pytesseract
sqlalchemy
sqlite
wordcloud
zlib
