{% extends 'base.html' %}

{% block content %}

    <section class="bg-dark text-light p-5  text-center text-sm-start"> <!-- check the class here later p-lg-0  -->
        <div class="container">
            <div class="d-sm-flex">   <!-- check the class here later  -->
               

                <div class="m-5">
                    <h2 class="text-warning bold"> Text Summarizer - Problem Definition  </h2>
                    <P class="lead my-4">
                        One of the  <span class="text-warning bold"> most difficult tasks in research is 
                            rea ding and reviewing </span> long list of published scientific papers.
                        This task can be daunting as readers spend many hours reading most papers only 
                        to realize that the paper is unrelated to the topic of interest. 
                        This is also true of people who read several texts, among them are books, 
                        blogs, online information, and others. 
                        The pain of going through all these can be eased by finding a model 
                        that  <span class="text-warning bold"> summarizers</span> the content of any 
                        document, where the user will only read the summary of the content. 
                    </P>
                </div>


                <div class="m-5">
                    <!-- <h1 class="text-warning bold"> Aims of this Project   </h1>
                    <P class="lead my-4">
                        <div > 1.	Summarize a typed text, or a “copy and paste” text. </div>.  -->


                        <img src="static/summary_img.png" class="mb-3 img-fluid" alt="">

                    </P>
                </div>

            </div>
        </div>
    </section>

{% endblock %}